@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@
<h2>About Control Work</h2>
<p>Control Work is a tool to manage work hours. As an example chilcare agency has been use, but any other type of work can be use with some code tweaks, to make it specific</p>
<p>Upcoming improvements:</p>
<ul>
    <li>Add user control </li>
    <li>Design improvements</li>
    <li>and more...</li>
</ul>
<p>Technical Features:</p>
<ul>
    <li>Architectural pattern: Model–View–Controller (MVC)</li>
    <li>Software Framework:.NET Framework 4.5.2</li>
    <li>Programming Languages: C# (C Sharp), Java Script, HTML</li>
    <li>Database: MSQlExpress 10.5, Entity Framework 6.1.3</li>
    <li>Other Tools: Google API, GoogleMaps LocationServices, jQuery, CSS, Bootstrap</li>
</ul>
<p></p>
