@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Control Work</h1>
    <p class="lead">Control Work is a tool to manage work hours</p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            You can go to the "Work List" section to see your work records
        </p>
        <p><a class="btn btn-default" href="/DataRegs/index">Work List &raquo;</a></p>

    </div>
    <div class="col-md-4">
        @*<h2>Web Hosting</h2>
        <p>At the moment Website Under Construction</p>
        <p><a class="btn btn-default" href="http://controlwork.somee.com/">Go... &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Website Under Construction</h2>
        <p><center><IMG SRC="/Content/Images/website_construction.gif" height="72" width="72"></center></p>
        <p></p>
    </div>
</div>